
<html>
{% block head %}
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISW</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Sidebar-Menu1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/SIdebar-Responsive-21.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
{% endblock %}

{% block body %}
<body>

</body>
{% endblock %}
</html>