{% load staticfiles %}
<html>
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISW</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock %}

{% block body %}
<body>
    {% block scripts %}
    <script src=" {% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}
{% block custom_js %}

{% endblock %}

</body>
{% endblock %}
</html>