{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISW</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" ><strong>GPI</strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
    <div class="contact-clean">
        {% if form.errors %}
            <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action = "/auth" method="post">
                {% csrf_token %}
                <h2 class="text-center">Iniciar sesión</h2>
                <div class="form-group"><input class="form-control" type="email" name="username" id = "username" placeholder="Ingresa tu email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" id = "password" placeholder="Ingresa tu clave"></div>
                <div class="form-group text-center"><button class="btn btn-primary text-center" type="submit">Enviar</button></div>
        </form>
    </div>
    <div></div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>