{% extends 'navbar_pedidos.html' %}
{% load func_extras %}
{% block contenido %}
<div class="container">
	<div class="row">
		<h2>Multiple fields contact form</h2>
	    <div class="col-md-4">
            <div class="contacts">
                <label>Contacts:</label>
                    <div class="form-group multiple-form-group input-group">
                        <div class="input-group-btn input-group-select">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="concept">Phone</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#phone">Phone</a></li>
                                <li><a href="#fax">Fax</a></li>
                                <li><a href="#skype">Skype</a></li>
                                <li><a href="#email">E-mail</a></li>
                                <li><a href="#www">Web</a></li>
                            </ul>
                            <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="phone">
                        </div>
                        <input type="text" name="contacts['value'][]" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-add">+</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}