{% extends "navbar.html" %}

{% block page-content %}

    <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link iconitos menu" role="button" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars iconitos"></i>Menu</a>
                <section>

                    <div class="contact-clean" >
                        <form method="post">
                            {% csrf_token %}
                            <div class = "form-group">
                                <div class="row">
                                    <div class="col-5 text-left">
                                        <label>{{ solicitud_form.fecha_requerida.label }}</label>
                                    </div>

                                    <div class="col-7 text-left align-content-left">
                                        {% load i18n %}
                                        {% language 'es' %}
                                        {{ solicitud_form.fecha_requerida }}
                                        {% endlanguage %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                 <div class="row">
                                    <div class="col-5 text-left">
                                        <label>{{ solicitud_form.obra.label }}</label>
                                    </div>
                                    <div class="col-7 text-left align-content-left">
                                        {{ solicitud_form.obra }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-left align-content-left">
                                <div class="row">
                                    <div class="col-5">
                                        <label>{{ material_form.nombre.label }}</label>
                                    </div>
                                    <div class="col-7">
                                        {{ material_form.nombre }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-left align-content-left">
                                <div class="row">
                                    <div class="col-5">
                                        <label>{{ material_form.cantidad.label }}</label>
                                    </div>
                                    <div class="col-7">
                                        {{ material_form.cantidad }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-left align-content-left">
                                <div class="row">
                                    <div class="col-5">
                                        <label>{{ material_form.unidades.label }}</label>
                                    </div>
                                    <div class="col-7">
                                        {{ material_form.unidades }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-left align-content-left">
                                <div class="row">
                                    <div class="col-5">
                                        <label>{{ material_form.urgencia.label }}</label>
                                    </div>
                                    <div class="col-7">
                                        {{ material_form.urgencia }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-primary text-center" type="submit">Enviar</button>
                            </div>

                        </form>
                    </div>
                </section>
                <div></div>
                <div class="row">
                    <div class="col-md-12">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}