{% extends 'navbar.html' %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-1"></div>
        <div class="col-md-4 col-lg-10">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="float-none" style="background-color:#9d58f5;">Producto</th>
                            <th style="background-color:#9d58f5;">Cantidad</th>
                            <th style="background-color:#9d58f5;">Lugar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 3</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 2</td>
                            <td>Cell 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 col-lg-1"></div>
    </div>
</div>
{% endblock %}