{% extends "navbar_pedidos.html" %}
{% load func_extras %}
{% load i18n %}
{% block contenido %}
<div class="container">
    <div class="container">
     <div class="alert alert-danger text-center" role="alert">
        <h5 class="alert-heading">Datos Solicitante</h5>
        <hr>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"><b>Número solicitud:</b></div>
            <div class="col-4">{{ solicitud.numero_orden }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-4"><b>Solicitado por:</b></div>
            <div class="col-4">{{ solicitud.trabajadorobra.user.first_name}} {{ solicitud.trabajadorobra.user.apellido_paterno}}</div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-4"><b>Fecha solicitud:</b></div>
            {% language 'es' %}
            <div class="col-4">{{ solicitud.fecha_solicitud }}</div>
            {% endlanguage %}
        </div>
    </div>
    </div>
    <div  class = "container">
    <div class="alert alert-secondary text-center" role="alert">
        <h5 class="alert-heading">Fechas solicitud</h5>
        <hr>
        <form method="post">
        {% csrf_token %}
        <div class = "form-group">
            <div class = "row">
                <div class="col-2"></div>
                <div class="col-4"><b>{{ form.fecha_requerida.label }}</b></div>
                <div class = "col-4">{{ form.fecha_requerida }}</div>
            </div>
        </div>

        <div class = "form-group">
            <div class = "row">
                <div class="col-2"></div>
                <div class="col-4"><b>{{ form.fecha_estimada.label }}</b></div>
                <div class = "col-4">{{ form.fecha_estimada }}</div>
            </div>
        </div>

        <div class = "form-group">
            <div class = "row">
                <div class="col-2"></div>
                <div class="col-4"><b>{{ form.obra.label }}</b></div>
                <div class = "col-4">{{ form.obra }}</div>
            </div>
        </div>

        <div class = "form-group">
            <div class = "row">
                <div class="col-2"></div>
                <div class="col-4"><b>{{ form.estado_solicitud.label }}</b></div>
                <div class = "col-4">{{ form.estado_solicitud }}</div>
            </div>
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col-5"></div>
                <div class="col-2 center"> <button class="btn btn-primary" type="submit"> Editar</button> </div>
            </div>

        </div>

    </form>
    </div>
    </div>
<div class = "container">
<div class="row">
<div class="col-md-4 col-lg-12">
 <div class="alert alert-secondary text-center" role="alert">
        <h5 class="alert-heading">Elementos de la solicitud</h5>
        <hr>
    <table id="example" class="table table-striped table-bordered text-center" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Urgencia</th>
                                    <th>Unidades</th>
                                    <th>Recibido</th>
                                    <th> Acciones </th>
                                </tr>
                            </thead>
                        <tbody>
                                {% for material in materiales %}
                                <tr>
                                    <td>{{ material.nombre }}</td>
                                    <td>{{ material.cantidad }}</td>
                                    <td>{{ material.urgencia }}</td>
                                    <td>{{ material.unidades }}</td>
                                    <td>{{ material.recibido }}</td>
                                    <td>
                                        <a class = "btn btn-primary" href="{% url 'material_edit' material.id%}">Editar</a>
                                        <a class="btn btn-danger" href="{% url 'delete_material' material.id %}">-</a>

                                    </td>

                                </tr>

                                {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>


                            </tr>
                        </tfoot>
 </table>

</div>
</div>
</div>
</div>
</div>

{% endblock %}