{% extends 'navbar.html' %}
{% block contenido %}
<div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-1"></div>
                <div class="col-md-4 col-lg-10">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="float-none" style="background-color:#a144f5;">Pedidos</th>
                                    <th style="background-color:#a144f5;">Personal</th>
                                    <th style="background-color:#a144f5;">Obra</th>
                                    <th style="background-color:#a144f5;">Fecha</th>
                                    <th style="background-color:#a144f5;">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 5</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 5</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4 col-lg-1"></div>
            </div>
        </div>
{% endblock %}